@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form method="post">
        <input type="text" name="expression"/>
        <input type="submit" value="Calculate"/>
    </form>
    <h3>@ViewBag.Result</h3>
</div>
</body>
</html>