# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.try5.0.10.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
