<div class="form-group">
    <select class="form-select is-invalid form-select-lb mb-3" required>
        <option select disabled value="None"> -- </option>
        <option value="Male"> Мужской </option>
        <option value="Female"> Женский </option>
    </select>
</div>